body {
    color: #ABB2BF;
    background-color: #282C34;
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

#go-to-top {
    position: fixed;
    right: 0;
    top: 0;
    padding: 3px;
    margin: 0;
    background-color: inherit;
    color: #828997;
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
    text-decoration: none;
    border-bottom: 1px solid #505050;
    border-left: 1px solid #505050;
}

#up-module {
    position: fixed;
    left: 0;
    top: 0;
    padding: 3px;
    margin: 0;
    background-color: inherit;
    color: #828997;
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
    text-decoration: none;
    border-bottom: 1px solid #505050;
    border-right: 1px solid #505050;
    z-index: 100;
}

#mod-docstr {
    margin: 0;
    text-align: justify;
    line-height: 150%;
    color: #ABB2BF;
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
}

.monospace-span {
    font-family: 'Anonymous Pro', monospace;
    font-size: 125%;
}

#nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 5px 0 0;
    min-height: 1vh;
    background-color: #20242C;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 0.5cm;
    min-height: 1vh;
    background-color: inherit;
    border-right: 1px solid #505050;
}

#nav::-webkit-scrollbar {
    width: 4px;
}

#nav h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 24pt;
    margin: 0.25cm 0;
}

#nav-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-li {
    font-family: "Open Sans", sans-serif;
    font-size: 18pt;
    margin: 0.5cm 0;
}

.nav-li a {
    text-decoration: none;
    color: #828997;
}

.subnav-ul {
    list-style-type: none;
    padding: 0 0 0 0.5cm;
    margin: 0.5cm 0;
}

.subnav-li {
    font-family: "Anonymous Pro", monospace;
    font-size: 13pt;
    margin: 0.15cm 0;
}

.subnav-li a {
    text-decoration: none;
    color: #828997;
}

.subsubnav-ul {
    list-style-type: none;
    padding: 0 0 0 0.5cm;
    margin: 0.4cm 0;
}

.subsubnav-li {
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
    margin: 0.15cm 0;
}

.subsubnav-li a {
    text-decoration: none;
    color: #828997;
}

.subsubsubnav-ul {
    list-style-type: none;
    padding: 0 0 0 0.5cm;
    margin: 0.3cm 0;
}

.subsubsubnav-li {
    font-family: "Anonymous Pro", monospace;
    font-size: 11pt;
    margin: 0.15cm 0;
}

.subsubsubnav-li a {
    text-decoration: none;
    color: #828997;
}

#nav a:hover {
    font-weight: 700;
    color: #ABB2BF;
}

#main {
    float: right;
    z-index: -1;
}

#main h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 400%;
    text-align: center;
    margin: 1cm 0;
}

.section {
    margin: 1cm;
    padding: 5% 5% 5% 1cm;
    border: 1px solid #484848;
    border-radius: 12px;
}

.section h2 {
    font-weight: normal;
    font-size: 250%;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0 0 1cm 0;
}

.docstr {
    margin: .5cm 0 .5cm 1cm;
    font-size: 90%;
    text-align: justify;
    line-height: 125%;
    color: #98C379;
}

.docstr pre {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.class {
    border-top: 1px solid #404040;
}

.class h3 {
    font-weight: normal;
    font-size: 200%;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 1cm 0 0 0.5cm;
}

#classes .class {
    margin-top: 1cm;
}

.class .function {
    padding-left: 0.1cm;
    border-left: 1px solid #404040;
}

.properties {
    margin: 1cm 0;
    padding-left: 0.1cm;
    border-left: 1px solid #404040;
}

.properties h4 {
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    font-size: 150%;
}

.properties .property {
    margin-left: 1cm;
    padding-left: 0.1cm;
    border-left: 1px solid #383838;
}

.methods {
    margin: 1cm 0 0 0;
    padding-left: 0.1cm;
    border-left: 1px solid #404040;
}

.methods h4 {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
}

.methods .function {
    margin-left: 1cm;
    border-left: 1px solid #383838;
}

#functions .function {
    border-top: 1px solid #404040;
}

.function .function-name {
    color: #61AFEF;
}

.function .function-arg {
    color: #D19A66;
}

.function .default-str {
    color: #98C379;
}

.source {
    display: inline-block;
    margin: .5cm 0 .5cm 1cm;
    border: 1px solid #383838;
    border-radius: 12px;
}

.source h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    margin: 0;
    padding: 0.25cm;
    cursor: pointer;
}

.source .code {
    display: none;
    overflow: auto;
    padding: 0 0.5cm 0.5cm 0.5cm;
    font-size: 10pt;
}

.other {
    margin: 0.5cm 0;
}

.other-type {
    margin: .1cm .1cm .1cm 0;
    color: #5C6370;
}

.other-value {
    margin: .1cm .1cm .1cm 0;
    color: #5C6370;
}

.other .comments {
    margin: 0;
    padding: 0.5cm 0 0.5 1cm;
}

.other pre {
    margin: 0;
    padding: 0 0 0 1.5cm;
}
