.highlight .k  {color: #C678DD;}

.highlight .nf {color: #61AFEF;}
.highlight .nf .n {color: #D19A66;}
.highlight .nb {color: #56B6C2;}

.highlight .o  {font-weight: bold;}
.highlight .ow {color: #C678DD;}

.highlight .s1 {color: #98C379;}
.highlight .s2 {color: #98C379;}
.highlight .sd {color: #98C379;}
.highlight .si {color: #D19A66;}

.highlight .mi {color: #D19A66;}
.highlight .mf {color: #D19A66;}
.highlight .mh {color: #D19A66;}
.highlight .mo {color: #D19A66;}

.highlight .bp {color: #D19A66;}

.highlight .c1 {color: #5C6370;}
